* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   
}

body {
  margin: 0;
 font-family: 'Clash Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: black;
 padding: 0 3rem;
}

/* .rounded{
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.pointed{
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
} */
@media screen and (max-width:940px) {
    body {
padding: 0px 16px;
    }
  }

code {
 font-family: 'Clash Display', sans-serif;
}


